.sectionHeader {
  border-bottom: 1px solid #0f0e0e;
  margin: 32px 48px 0px 48px;
  text-align: left;
  margin-bottom: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  @media only screen and (max-width: 600px) {
    margin: 32px 12px 0px 12px !important;
  }

}
h1 {
  padding: 0;
  color: #0f0e0e;
}
